#------------------------------------------------
# 우리의 운영 서버에서 실행될 docker compose yml 파일
# 이 파일은 자동으로, 우리 운영서버로 전송되어짐
#------------------------------------------------

services:

  #----------------------------------
  # MySQL
  #----------------------------------
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always

    mem_limit: 512m # MySQL 에 512MB 고정해서, 나머지 자원을 자바 애플리케이션이 사용하게 함

    #주의!! 아래의 변수들은 도커 이미지에서 사용되는 환경 변수임( Spring 에서 사용되는 변수 아님)
    environment:
      MYSQL_DATABASE: liveshop
      MYSQL_USER: liveshop
      MYSQL_PASSWORD: "1234"
      MYSQL_ROOT_PASSWORD: "1234"
      TZ: Asia/Seoul

    ports:
      - "3306:3306"

    volumes:
      - mysql_data:/var/lib/mysql

    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --innodb-buffer-pool-size=256M
      - --max-connections=60

    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-uroot", "-p1234"]
      interval: 5s
      timeout: 3s
      retries: 30

    networks: [ saga-net ]


  #------------------------------------
  # config Server
  #------------------------------------
  config-server: #같은 도커 가상네트워크의 DNS에서 ip,host 를 대신함
    image: ghcr.io/devlearncampus/saga-config:${CONFIG_TAG} #현재 깃헙의 환경변수 중 CONFIG_TAG값 가져오기
    container_name: config-server
    ports:
      - "8881:8881"
    restart: always

    mem_limit: 320m

    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - PORT=8881 #지정하지 않으면 8080 으로 돌아감..
      - SERVER_PORT=8881

      #메모리 안정화를 위한 설정(계산에 의함)
      # "BPL*" 은 paketo 가 JAVA_TOOL_OPTIONS 를 계산할때 참고하는 값
      - BPL_JVM_THREAD_COUNT=25
      - BPL_JVM_STACK_SIZE=384k
      - BPL_JVM_RESERVED_CODE_CACHE_SIZE=48M
      - BPL_JVM_MAX_METASPACE_SIZE=80M

      - JAVA_TOOL_OPTIONS=-Xms64m -Xmx160m -XX:MaxMetaspaceSize=80m -XX:ReservedCodeCacheSize=48m -XX:MaxDirectMemorySize=16m -Xss384k

    networks: [ saga-net ]


  #------------------------------------
  # eureka Server
  #------------------------------------
  eureka-server: # 도커 내부 네트워크 상에서 ip대신 다른 도커와 통신할때 사용할 유레카 서버의 DNS 명
    image: ghcr.io/devlearncampus/saga-eureka:${EUREKA_TAG} #현재 깃헙의 환경변수 중 EUREKA_TAG값 가져오기
    container_name: eureka-server
    ports:
      - "8761:8761"
    restart: always

    mem_limit: 320m

    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_CONFIG_IMPORT=optional:configserver:http://config-server:8881  # eureka도 config server의 클라이언트
      - PORT=8761 #지정하지 않으면 8080 으로 돌아감..
      - SERVER_PORT=8761

      #메모리 안정화를 위한 설정(계산에 의함)
      # "BPL*" 은 paketo 가 JAVA_TOOL_OPTIONS 를 계산할때 참고하는 값
      - BPL_JVM_THREAD_COUNT=25
      - BPL_JVM_STACK_SIZE=384k
      - BPL_JVM_RESERVED_CODE_CACHE_SIZE=48M
      - BPL_JVM_MAX_METASPACE_SIZE=80M

      - JAVA_TOOL_OPTIONS=-Xms64m -Xmx160m -XX:MaxMetaspaceSize=80m -XX:ReservedCodeCacheSize=48m -XX:MaxDirectMemorySize=16m -Xss384k

    depends_on:
      config-server:
        condition: service_started

    networks: [ saga-net ]


  #------------------------------------
  # gateway Server
  #------------------------------------
  gateway-server: # 도커 내부 네트워크 상에서 ip대신 다른 도커와 통신할때 사용할 유레카 서버의 DNS 명
    image: ghcr.io/devlearncampus/saga-gateway:${GATEWAY_TAG} #현재 깃헙의 환경변수 중 GATEWAY_TAG값 가져오기
    container_name: gateway-server
    ports:
      - "8882:8882"   # [치명 수정] gateway는 8882로 열어야 함
    restart: always

    mem_limit: 320m

    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_APPLICATION_NAME=saga-gateway # UNKNOWN 등록 방지(선택이지만 강력 권장)
      - SPRING_CONFIG_IMPORT=optional:configserver:http://config-server:8881
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
      - PORT=8882 #지정하지 않으면 8080 으로 돌아감..
      - SERVER_PORT=8882

      #메모리 안정화를 위한 설정(계산에 의함)
      # "BPL*" 은 paketo 가 JAVA_TOOL_OPTIONS 를 계산할때 참고하는 값
      - BPL_JVM_THREAD_COUNT=60
      - BPL_JVM_STACK_SIZE=512k
      - BPL_JVM_RESERVED_CODE_CACHE_SIZE=80M
      - BPL_JVM_MAX_METASPACE_SIZE=96M

      - JAVA_TOOL_OPTIONS=-Xms128m -Xmx256m -XX:MaxMetaspaceSize=96m -XX:ReservedCodeCacheSize=80m -XX:MaxDirectMemorySize=32m -Xss512k

    depends_on:
      config-server:
        condition: service_started
      eureka-server:
        condition: service_started

    networks: [ saga-net ]


  #------------------------------------
  # member-service
  #------------------------------------
  member-service: # 도커 내부 네트워크 상에서 ip대신 다른 도커와 통신할때 사용할 DNS 명
    image: ghcr.io/devlearncampus/saga-member:${MEMBER_TAG} #현재 깃헙의 환경변수 중 MEMBER_TAG값 가져오기
    container_name: member-service
    ports:
      - "9993:9993"
    restart: always

    mem_limit: 768m

    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_APPLICATION_NAME=saga-member-service # UNKNOWN 등록 방지(선택이지만 강력 권장)
      - SPRING_CONFIG_IMPORT=optional:configserver:http://config-server:8881
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
      - PORT=9993 #지정하지 않으면 8080 으로 돌아감..
      - SERVER_PORT=9993

      # 데이터베이스 접속 정보
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_USER=liveshop
      - DB_PASS=1234
      
      #메모리 안정화를 위한 설정(계산에 의함)
      # "BPL*" 은 paketo 가 JAVA_TOOL_OPTIONS 를 계산할때 참고하는 값
      - BPL_JVM_THREAD_COUNT=75
      - BPL_JVM_STACK_SIZE=512k
      - BPL_JVM_RESERVED_CODE_CACHE_SIZE=96M
      - BPL_JVM_MAX_METASPACE_SIZE=160M

      - JAVA_TOOL_OPTIONS=-Xms256m -Xmx384m -XX:MaxMetaspaceSize=160m -XX:ReservedCodeCacheSize=96m -XX:MaxDirectMemorySize=64m -Xss512k

    depends_on:
      config-server:
        condition: service_started
      eureka-server:
        condition: service_started
      mysql:
        condition: service_healthy

    networks: [ saga-net ]


#------------------------------------
# 볼륨 & 네트워크
#------------------------------------
volumes:
  mysql_data:

networks:
  saga-net:
    driver: bridge
