#----------------------------------------------------------------
# docker-compose.prod.yml : 깃헙에서 작성하기 불편해서 여기서 작성, 운영서버에서 실행 될 docker compose yml 파일
#----------------------------------------------------------------

#----------------------------------------------------------------
# 우리의 운영 서버에서 실행 될 docker compose yml 파일
# 이 파일은 자동으로, 우리 운영서버로 전송되어짐
#----------------------------------------------------------------

services:

  #----------------------------------------------------------------
  # MySQL
  #----------------------------------------------------------------
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always

    mem_limit: 512m # MySQL에 512MB 고정해서, 나머지 자원을 자바 애플이 사용하게 함

    # 주의 !! 아래의 변수들은 도커 이미지에서 사용되는 환경 변수임 (Spring 에서 사용되는 변수 아님)
    environment:
      MYSQL_DATABASE: liveshop  
      MYSQL_USER: liveshop  
      MYSQL_PASSWORD: 1234
      MYSQL_ROOT_PASSWORD: 1234
      TZ: Asia/Seoul

    ports:
      - "3306:3306" # 호스트의 3306 포트를 도커 컨테이너의 3306 포트로 매핑

    volumes:
      - mysql_data:/var/lib/mysql # MySQL 데이터를 호스트의 mysql_data 볼륨에 영구 저장, 컨테이너와 매핑, MOUNT,  컨테이너가 삭제되어도 데이터는 유지됨???

    command: 
      - --character-set-server=utf8mb4  # 이모치콘까지 지원하려면 확장된 UTF-8인 utf8mb4를 사용해야 함
      - --collation-server=utf8mb4_unicode_ci
      - --innodb-buffer-pool-size=256M
      - --max-connections=60 

    healthcheck:  # 살아있나 죽어있나 확인, 운영서버에서 실행 됨
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-uroot", "-p1234"]
      interval: 5s
      timeout: 3s
      retries: 30

    networks: 
      - saga-net

  #----------------------------------------------------------------
  # config server : 소문자로 써야 한데..ㄷㄷ
  #----------------------------------------------------------------
  config-server:
    image: ghcr.io/wtemp20-blip/saga-config:${CONFIG_TAG} # tmco)현재 깃헙의 환경변수 중 CONFIG_TAG 값을 가져와서, 그 태그의 이미지를 사용함
    container_name: config-server
    restart: always

    mem_limit: 320m # tmco) Config 서버는 가벼운 편이므로, 3기가중 512MB는 MYSQL에 할당하고, 320MB는 Config 서버에 할당

    ports:
      - "8881:8881" # tm) 외부 8881 -> 컨테이너 8881

    environment:
      SPRING_PROFILES_ACTIVE: prod   # prod 단계야..
      SERVER_PORT: 8881
      # PORT: 8881  # 지정하지 않으면 8080 으로 돌아감.. (Spring Boot는 SERVER_PORT 사용)

      # tc) 메모리 안정화를 위한 설정 (계산에 의함)
      # "BPL*"은 Paketo Buildpack이 JAVA_TOOL_OPTIONS 를 계산할때 참고 하는 값
      # tmco) 컨테이너 메모리 한도 내에서 JVM 자동 튜닝에 사용됨
      BPL_JVM_THREAD_COUNT: 25
      BPL_JVM_STACK_SIZE: 384k
      BPL_JVM_RESERVED_CODE_CACHE_SIZE: 48M
      BPL_JVM_MAX_METASPACE_SIZE: 80M

      JAVA_TOOL_OPTIONS: "-Xms64m -Xmx160m -XX:MaxMetaspaceSize=80m -XX:ReservedCodeCacheSize=48m -XX:MaxDirectMemorySize=16m -Xss384k"

    networks:
      - saga-net  # 같은 네트웍으로 묶는다.. (tmco) MySQL과 Config 서버가 서로 통신할 수 있게)

  #----------------------------------------------------------------
  # eureka server : 소문자로 써야 한데..ㄷㄷ
  #----------------------------------------------------------------    
  #----------------------------------------------------------------
  # gateway server : 소문자로 써야 한데..ㄷㄷ
  #----------------------------------------------------------------    
  #----------------------------------------------------------------
  # member-service server : 소문자로 써야 한데..ㄷㄷ
  #----------------------------------------------------------------    

#----------------------------------------------------------------
# 볼륨 & 네트워크 
#----------------------------------------------------------------    

volumes:
  mysql_data: 

networks:
  saga-net:
    driver: bridge # 브릿지 모드
