
name: saga CD

on: 
  workflow_dispatch:
    inputs:
    
      config_tag:
        description: "Config 이미지 태그(SHA)"
        required: true
        default: "0effd827a88c60ca9c73301d425244ccfa499b58"

permissions: 
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Make env.prod from inputs 환경 설정 파일 생성
            # 이 경로로 파일을 만들거야,  deploy/env.prod 경로에 파일을 생성, EOF라는 문자가 나올때까지.. 모든 내용을 파일에 넣겠다
            # CONFIG_TAG= ${{ inputs.config_tag }} 사용자가 워크플로우를 실행할때 입력한 태그 값을 파일에 기록
        run: |   # 여러 줄의 쉘 명령어을 실행하겠다
          cat > deploy/env.prod << 'EOF'  
          CONFIG_TAG= ${{ inputs.config_tag }}
          EOF
          echo "---- deploy/env.prod ----"
          cat deploy/env.prod
          
      #--------------------------------------------------------------------------    
      # 운영 서버에 DEPLY 폴더 업로그
      #--------------------------------------------------------------------------    
      - name: Upload deploy files to 우리 구글 운영서버
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.PROD_HOST }} # 접속할 서버의 IP주소 (사전에 secrets 변수로 등록해 놓은거)
          user: ${{ secrets.PROD_USER }} # 사전에 secrets 변수로 등록한 로그인 아이디
          key: ${{ secrets.PROD_SSH_KEY }} # 사전에 secrets 변수로 등록한 접속용 비밀키
          script:
            set -e  # 명령어 실행 중 하나라도 에러가 나면 배포를 즉시 중단하라 
            
            echo "== docker login ghcr.io =="  # 배포과정을 개발자에게 보여주려고... 
            echo "${{ secrets.GHCR_PAT }}" | docker login ghcr.io -u "${{ secrets.GHCR_USERNAME }}" --password-stdin

            echo "== cd deploy dir =="
            CD /home/${{ secrets.PROD_USER }}/deploy  

            echo "== ls (check uploaded files) =="
            ls -al
          
            echo "== compose config check =="
            docker compose --env-file env.prod -f docker-compose.prod.yml up -d  
