name: saga CD

on:
  workflow_dispatch: # 개발자가 버튼을 눌러 배포 시작 (수동 배포)
    inputs: # 개발자가, 이미 생성된 DockerImage의 태그를 입력 할 수 있는 텍스트 박스

      # config-server 도커 이미지 정보
      config_tag:
        description: "Config 이미지 태그(SHA)"
        required: true
        default: "9bd0fdff48ad3da63cab00af1c5588a937b20276"  # 유저 배려하기 위해 디폴트 값으로 태그 넣어 둠
        
      # eureka-server 도커 이미지 정보
      eureka_tag:
        description: "Eureka 이미지 태그(SHA)"
        required: true
        default: "da7ad03ee8a9f4fe4cd36af1a75e00003e0cc392"         
        
      # gateway-server 도커 이미지 정보
      gateway_tag:
        description: "GateWay 이미지 태그(SHA)"
        required: true
        default: "@@@@ 못함 아직"            
        

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Make env.prod from inputs 환경 설정 파일 생성
        # 이 경로로 파일을 만들거야, deploy/env.prod 경로에 파일을 생성
        # EOF라는 문자가 나올때까지 모든 내용을 파일에 넣겠다
        # CONFIG_TAG=${{ inputs.config_tag }} → 사용자가 워크플로우 실행 시 입력한 태그 값을 파일에 기록
        run: |  # 여러 줄의 쉘 명령어를 실행하겠다
          mkdir -p deploy
          cat > deploy/env.prod << EOF
          CONFIG_TAG=${{ inputs.config_tag }}
          EUREKA_TAG=${{ inputs.eureka_tag }}
          GATEWAY_TAG=${{ inputs.gateway_tag }}
          EOF
          echo "---- deploy/env.prod ----"
          cat deploy/env.prod

      #--------------------------------------------------------------------------
      # 운영 서버에 DEPLOY 폴더 업로드
      #--------------------------------------------------------------------------
      - name: Upload deploy files to 우리 구글 운영서버
        uses: appleboy/scp-action@v0.1.7
        # SCP(Secured Copy Protocol) :
        # 보안처리된 방법으로 깃허브 → 운영서버로 파일 복사
        with:
          host: ${{ secrets.PROD_HOST }}        # 접속할 서버 IP (GitHub Secrets 등록)
          username: ${{ secrets.PROD_USER }}        # 로그인 아이디 (Secrets 등록)
          key: ${{ secrets.PROD_SSH_KEY }}      # 접속용 비밀키 (Secrets 등록)
          source: "deploy/*"
          target: "/home/${{ secrets.PROD_USER }}"
          overwrite: true

      #--------------------------------------------------------------------------
      # 운영 서버에서 docker login 및 compose 파일 이용하여 서버 가동
      #--------------------------------------------------------------------------
      - name: Deploy on Server (운영 서버의 도커 가동)
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.PROD_HOST }}
          username: ${{ secrets.PROD_USER }}
          key: ${{ secrets.PROD_SSH_KEY }}

          script: |
            set -e  # 명령어 실행 중 하나라도 에러가 나면 배포 즉시 중단

            echo "== docker login ghcr.io : GHCR 로그인 =="
            # 배포 과정을 로그로 확인하기 위함
            echo "${{ secrets.GHCR_PAT }}" | docker login ghcr.io -u "${{ secrets.GHCR_USERNAME }}" --password-stdin

            echo "== deploy 디렉토리로 이동 (docker-compose 파일 위치) =="
            cd /home/${{ secrets.PROD_USER }}/deploy

            echo "== 업로드된 파일 확인 =="
            ls -al

            echo "== compose config check (컴포즈 파일 문법 검사) =="
            docker compose --env-file env.prod -f docker-compose.prod.yml config

            echo "== 필요한 도커 이미지 pull 받기 =="
            docker compose --env-file env.prod -f docker-compose.prod.yml pull

            echo "== 이미지로부터 컨테이너 실행 (백그라운드 실행) =="
            docker compose --env-file env.prod -f docker-compose.prod.yml up -d

            echo "== 실행중인 컨테이너 확인 =="
            docker ps --format "table {{.Names}}\t{{.Status}}\t{{.Ports}}"

            echo "== 각 서비스 헬스 체크 =="
            curl -fsS http://localhost:8881/actuator/health || true
