name: saga CD

on:
  workflow_dispatch: # 개발자가 버튼을 눌러 배포 시작 ( 수동 배포)
    inputs: #개발자가, 이미 생성된 DockerImage의 태그를 입력할 수 있는 텍스트박스
      
      #config-server 도커 이미지 정보 
      config_tag:
        description: "Config 이미지 태그(SHA)"
        required: true
        default: "5f07871ed724b69b239e4e9a550730a4a231f5e7" # 유저 배려하기 위해 디폴트 값으로 태그 넣어둠

      #eureka-server 도커 이미지 정보
      eureka_tag:
        description: "Eureka 이미지 태그(SHA)"
        required: true
        default: "a09a98dcfbe0a3dbc1f6767c08f65c1287aa9653" # 유저 배려하기 위해 디폴트 값으로 태그 넣어둠

      #gateway-server 도커 이미지 정보
      gateway_tag:
        description: "Gateway 이미지 태그(SHA)"
        required: true
        default: "85a4b1840fff91e4f7927b9830f6d0bdc38ef8e1" # 유저 배려하기 위해 디폴트 값으로 태그 넣어둠
        
      #member-service 도커 이미지 정보
      member_tag:
        description: "Member 이미지 태그(SHA)"
        required: true
        default: "@@@@ 1e4f7927b9830f6d0bdc38ef8e1" # 유저 배려하기 위해 디폴트 값으로 태그 넣어둠     

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: 환경 설정 파일 생성
        #deploy/env.prod 경로에 파일을 생성, EOF라는 문자가 나올때까지...모든 내용을 파일에 넣겠다.
        #CONFIG_TAG=  ${{ inputs.config_tag }} 사용자가 워크플로우를 실행할때 입력한 태그 값을 파일에 기록
        # 아래의 코드가 수행되고 나면 현재 Repo 의 루트 밑에 deploy/env.prod라는 파일이 동적으로 생성되고
        # 그 안에 도커이미지의 태그명이 들어있게 함..
        # 이유? 우리의 운영 서버로 보내주기 위해 임시로 저장함
        run: | # 여러 줄의 쉘 명령어를 실행하겠다
          mkdir -p deploy
          cat > deploy/env.prod << 'EOF'
          CONFIG_TAG=${{ inputs.config_tag }}
          EUREKA_TAG=${{ inputs.eureka_tag }}
          GATEWAY_TAG=${{ inputs.gateway_tag }}
          MEMBER_TAG=${{ inputs.member_tag }}
          EOF
          echo "---- deploy/env.prod ----"
          cat deploy/env.prod
         
      #---------------------------------------------------------------
      # 운영 서버에 deploy 폴더 업로드 
      #---------------------------------------------------------------
      - name: Upload deploy files to 우리 구글 운영서버
        uses: appleboy/scp-action@v0.1.7 # Secured Copy Protocol (보안 처리된 방법으로 깃헙에서 운영서버측으로 파일복사)
        with:
          host: ${{ secrets.PROD_HOST }} #사전에 secrets 변수로 등록한 접속할 서버의 IP
          username: ${{ secrets.PROD_USER }} #사전에 secrets 변수로 등록한 로그인 아이디
          key: ${{ secrets.PROD_SSH_KEY }}  #사전에 secrets 변수로 등록한 접속용 비밀키
          source: "deploy/*"
          target: "/home/${{ secrets.PROD_USER }}"
          overwrite: true

      #---------------------------------------------------------------
      # 운영 서버에서 docker login 및 compose파일 이용하여 서버들 가동
      #---------------------------------------------------------------
      - name: Deploy on Server (운영 서버의 도커 가동 )
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.PROD_HOST }}
          username: ${{ secrets.PROD_USER }}
          key: ${{ secrets.PROD_SSH_KEY }}
          script: |
            set -e # 명령어 실행 중 하나라도 에러가 나면 배포를 즉시 중단하

            echo "==== 도커로 ghcr.io 에 로그인 ======"
            echo "${{ secrets.GHCR_PAT }}" | docker login ghcr.io -u "${{ secrets.GHCR_USERNAME }}" --password-stdin

            echo "==== 깃헙에서 복사해온 deploy 디렉토리로 이동(도커 컴포즈 파일이 있으므로)  ===="
            cd /home/${{ secrets.PROD_USER }}/deploy

            echo "== ls (check uploaded files) =="
            ls -al

            echo "==== compose 파일의 문법 검사 ==="
            docker compose --env-file env.prod -f docker-compose.prod.yml config

            echo "==== 필요한 도커이미지 pull 받기 ==="
            docker compose --env-file env.prod -f docker-compose.prod.yml pull

            echo "==== 이미지로부터 컨테이너 실행 ==="
            docker compose --env-file env.prod -f docker-compose.prod.yml up -d

            echo "==== 실행중인 컨테이너 확인 ==="
            docker ps --format "table {{.Names}}\t{{.Status}}\t{{.Ports}}"

            echo "==== 각 서비스가 살아있는지 말 걸어보기 (헬스체크) ==="
            curl -fsS http://localhost:8881/actuator/health || true
